<% provide :title, t("contact_page.contact") %>
<div class="mt-5 mb-5">
  <h1><%= t "contact_page.contact_page" %></h1>
  <p>
    <%= t "contact_page.text" %>
    <%= link_to t("contact_page.course"), Settings.link.rails %>
  </p>
</div>
