<li>
  <%= gravatar_for user, size: Settings.size_img.size_50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t("users.delete"), user, data: {turbo_method: :delete, turbo_confirm: t("users.you_sure")} %>
  <% end %>
</li>
