<footer class="footer">
  <small>
    <%= t "layouts.footer.text_1", link: t("layouts.footer.link_rails"), tg: t("layouts.footer.link_tg") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("layouts.footer.about"), about_path %></li>
      <li><%= link_to t("layouts.footer.contact"), contact_path %></li>
      <li><%= link_to t("layouts.footer.news"), Settings.link.rails %></li>
    </ul>
  </nav>
</footer>
